In [1]:
import pandas as pd

In [2]:
split = pd.read_csv("../data/split.csv")
split = split[['region', 'validation']].drop_duplicates().reset_index(drop=True)

In [7]:
split

         region  validation
0      region_0         0.0
1      region_1         1.0
2      region_2         0.0
3      region_3         0.0
4      region_4         0.0
..          ...         ...
196  region_196         NaN
197  region_197         NaN
198  region_198         NaN
199  region_199         NaN
200  region_200         NaN

[201 rows x 2 columns]

# read all data

In [3]:
from utils import get_data_from_path

In [4]:
data = get_data_from_path(path="../data/data_raw/")

# split and save

In [13]:
for name, df in data.items():
    if 'month' in df.columns:
        df = df[df['month'] > '2020-06']

    merged = split.merge(df)
    train = merged[merged['validation']==0].reset_index(drop=True)
    val = merged[merged['validation']==1].reset_index(drop=True)
    test = merged[merged['validation'].isna()].reset_index(drop=True)
    
    
    train[df.columns].to_csv(f"../data/data_split/train/{name}.csv", index=False)
    val[df.columns].to_csv(f"../data/data_split/val/{name}.csv", index=False)
    test[df.columns].to_csv(f"../data/data_split/test/{name}.csv", index=False)

In [14]:
test

,region,validation,hcp,tier,specialty
0,region_151,NaN,18486,1,Internal medicine / pneumology
1,region_151,NaN,18957,1,Internal medicine / pneumology
2,region_151,NaN,24283,1,Internal medicine / pneumology
3,region_151,NaN,40931,1,Internal medicine / pneumology
4,region_151,NaN,47857,1,Internal medicine / pneumology
...,...,...,...,...,...
1223,region_200,NaN,79079,1,Internal medicine / pneumology
1224,region_200,NaN,79950,2,Internal medicine and general practicioner
1225,region_200,NaN,80961,2,Internal medicine
1226,region_200,NaN,81815,2,General practicioner
1227,region_200,NaN,92327,2,General practicioner