In [10]:
import pandas as pd

# read all data

In [16]:
from os import listdir
import os

def get_filenames(path: str, suffix: str):
    filenames = listdir(path)
    return [filename for filename in filenames if filename.endswith(suffix)]

In [18]:
raw_path = "../data/data_raw/"
data = dict()
for file in get_filenames(raw_path, "csv"):
    name = file.split(".")[0]
    path = os.path.join(raw_path, file)
    data[name] = pd.read_csv(path)

In [22]:
split = pd.read_csv("../data/split - split.csv")

In [23]:
split

        month      region    brand   sales  validation
0     2020-07    region_0  brand_1    0.00         0.0
1     2020-07    region_0  brand_2    0.00         0.0
2     2020-07    region_1  brand_1    0.00         1.0
3     2020-07    region_1  brand_2  143.74         1.0
4     2020-07    region_2  brand_1    0.00         0.0
...       ...         ...      ...     ...         ...
5623  2021-08  region_198  brand_2     NaN         NaN
5624  2021-08  region_199  brand_1     NaN         NaN
5625  2021-08  region_199  brand_2     NaN         NaN
5626  2021-08  region_200  brand_1     NaN         NaN
5627  2021-08  region_200  brand_2     NaN         NaN

[5628 rows x 5 columns]

In [28]:
print([(k, len(v)) for k, v in data.items()])

[('regions_hcps', 201), ('regions', 201), ('rtes', 41668), ('hcps', 4939), ('sales_train', 18100), ('activity', 53938)]

In [36]:
data["sales_train"].merge(split, how="left")

         month      region            brand      sales  validation
0      2020-01    region_0          brand_1       0.00         NaN
1      2020-01    region_0          brand_2       0.00         NaN
2      2020-01    region_0          brand_3   65007.49         NaN
3      2020-01    region_0  brand_12_market  509023.69         NaN
4      2020-01    region_0   brand_3_market  940469.05         NaN
...        ...         ...              ...        ...         ...
18095  2021-08  region_199  brand_12_market  267255.42         NaN
18096  2021-08  region_199   brand_3_market  498491.77         NaN
18097  2021-08  region_200          brand_3   50417.07         NaN
18098  2021-08  region_200  brand_12_market  289230.73         NaN
18099  2021-08  region_200   brand_3_market  509048.09         NaN

[18100 rows x 5 columns]